# Path RAG lokal
LOCAL_RAG_DIR=../rag-lc

# Local Vector DB
# Jika ingin langsung menulis ke Chroma milik rag-lc, gunakan ../rag-lc/chroma_db
# Jika ingin aman dulu di project ini, gunakan ./chroma_db
CHROMA_PATH=../rag-lc/chroma_db
COLLECTION_NAME=rag_local_corpus

# Embedding
EMBEDDING_MODEL=intfloat/multilingual-e5-small
EMBEDDING_QUERY_PREFIX=query:
EMBEDDING_PASSAGE_PREFIX=passage:

# Gemini API untuk answer generation lokal
GEMINI_API_KEY=isi_api_key_gemini_kamu
GEMINI_MODEL=gemini-2.0-flash

# RAG Config
TOP_K_INITIAL=10
TOP_K_FINAL=4
TEMPERATURE=0.2
MAX_TOKENS=800
ANSWER_LANGUAGE=Indonesian
